// Floating label positioning starting off

.floating-label {
  position: absolute;
  z-index: 9999;
  height: 100%;
  top: 0;
  display: flex !important;
  align-items: center;
  left: 0;
  right: 0;
  padding-left: 0.5em;
}
