@import url("https://necolas.github.io/normalize.css/7.0.0/normalize.css");

html * {
  box-sizing: border-box;
}

body {
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

#app {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.example {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.currentExample {
  margin: 1.5em auto 2.5em;
  padding-bottom: 0.5em;
  text-align: center;
  border-bottom: 2px solid lightgray;
  max-width: 450px;
}

.form-submit .submit {
  // background: #3f51b5 !important;
  color: white !important;
}
// .help {
//   width: 300px;
//   top: 60% !important;
//   left: 105%;
// }

// input[type="submit"]:disabled {
//   border: 2px solid red;
//   // cursor: not-allowed;
// }

button {
  background: gray;
  &:disabled {
    cursor: not-allowed;
  }
}

#tlh-form {
  .form-submit {
    &-spinner {
      border-top-color: white;
    }
    &-success-icon {
      fill: white;
    }
  }
}
