.form-item {
  margin: .75em auto;
  position: relative;

  input,
  label,
  select {
    position: relative;
    z-index: 2;
  }

  input,
  select {
    position: relative;
    height: 40px;
    z-index: 2;
    border: 1px gray solid;
    padding: 0 15px;
    width: 100%;

    &:focus {
      border-bottom: 2px solid #373737;
    }

    &.hasError {
      border: 2px solid #ca0000;

      &:focus {
        outline: none;
      }
    }
    // background-color: rgb(248, 248, 248);
  }

  .help {
    font-size: 0.9em;

    &.hasError {}
  }
  // TEMPORARY
  label {
    text-transform: capitalize;
  }

  .input,
  .select {
    position: relative;
    // height: 40px;
    // line-height: 40px;
    // padding: 0 40px 0 8px;
  }

  .help {
    transition: all 250ms ease-out;
    overflow: hidden;
    &-inner {
      padding: 2px 4px;
      overflow-wrap: break-word;
    }
  }
}
