.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-active {
  transform: translateX(50px);
}

.slide-leave-active {
  transform: translateX(50px);
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

select.form-field:focus {
  outline: 5px solid rgba(59, 153, 252, 0.65);
}
/* Vertical slide tranistion for form errors */
.vertical-slide-enter-active,
.vertical-slide-leave-active {
  transition: all 0.3s ease-in-out;
}

.vertical-slide-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.vertical-slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.form-item {
  margin: 1em 0.5em 2em;
  position: relative;

  input,
  label,
  select {
    position: relative;
    z-index: 2;
  }

  input,
  select {
    position: relative;
    height: 40px;
    z-index: 2;
    border: 1px gray solid;
    padding: 0 15px;
    width: 100%;

    &:focus {
      border-bottom: 2px solid #373737;
    }
    // background-color: rgb(248, 248, 248);
  }

  .help {
    position: absolute;
    top: 105%;
    display: block;
    transition: all 0.5s ease;
    font-size: 14px;

    &.hasError {
      color: #ca0000 !important;
    }

    .light & {
      color: #f9f9f9 !important;
    }

    .dark & {
      color: #222 !important;
    }
  }
  // TEMPORARY
  label {
    text-transform: capitalize;
  }
}

input, select {
  &.hasError {
    border: 2px solid #ca0000;
  }
}


// .lightHelpText .help {
//   color: #f9f9f9;
// }
