@import 'form-item.scss';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
// .accordion-enter-active,
// .accordion-leave-active {
//   transition: opacity 0.25s;
// }
.accordion-enter,
.accordion-leave-active {
  opacity: 0;
  transform: translateY(-20px);
}

.accordion-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
// .accordion-enter,
// .accordion-leave-active {
//   opacity: 0;
//   transform: translateY(-50px);
// }
// .accordion-enter-active,
// .accordion-leave-active {
//   transition: all 0.3s ease-in-out;
// }
// .accordion-enter {
//   transform: translateY(-50px);
//   opacity: 0;
// }
//
// .accordion-leave-to {
//   transform: translateY(50px);
//   opacity: 0;
// }

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-active {
  transform: translateX(50px);
}

.slide-leave-active {
  transform: translateX(50px);
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

select.form-field:focus {
  outline: 5px solid rgba(59, 153, 252, 0.65);
}
/* Vertical slide tranistion for form errors */
.vertical-slide-enter-active,
.vertical-slide-leave-active {
  transition: all 0.3s ease-in-out;
}

.vertical-slide-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.vertical-slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}


// Theme Styling
form {
  &.default-color-theme {
    .help {
      color: #ca0000 !important;
    }
  }

  &.light-color-theme {
    .help {
      color: #222 !important;
    }
  }

  &.dark-color-theme {
    .help {
      color: #f9f9f9 !important;
    }
  }
}
