.form-item {
  margin: 0.5em auto;
  position: relative;

  input,
  label,
  select {
    position: relative;
    z-index: 2;
  }

  input,
  select {
    position: relative;
    min-height: 45px;
    z-index: 2;
    border: 1px gray solid;
    padding: 0 15px;
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;

    &:focus {
      border-bottom: 2px solid #373737;
    }

    &.invalid {
      border: 2px solid #ca0000;

      &:focus {
        outline: none;
      }
    }
  }

  .help {
    font-size: 0.9em;

    &.invalid {
    }
  }
  // TEMPORARY
  label {
    text-transform: capitalize;
  }

  .input,
  .select {
    position: relative;
  }

  .help {
    transition: all 250ms ease-out;
    overflow: hidden;
    &-inner {
      padding: 2px 4px;
      overflow-wrap: break-word;
    }
  }

  select {
    padding: .6em .8em .5em .8em;
    min-height: 45px;    
    padding-right: 40px !important;
    background-image: url("../images/select-arrow.png");
    -webkit-appearance: none;
    background-size: 40px;
    background-position: 99.5%;
    background-repeat: no-repeat;

    &.invalid {
      background-image: none;
    }
  }
}
