@import "form-item.scss";

.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .form-item {
    flex: 1 1 100%;

    &.flex-half {
      flex: 0 1 49%;
    }
  }
}

@media (min-width: 768px) {
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(10px);
}

.accordion-enter-active,
.accordion-leave-active {
  // transition: all 0.65s ease-out;
}

.accordion-enter,
.accordion-leave-active {
  opacity: 0;
  transform: translateY(-20px);
}

.accordion-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-active {
  transform: translateX(50px);
}

.slide-leave-active {
  transform: translateX(50px);
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease;
}

.slide-enter-active {
  transform: translateX(50px);
}

.slide-leave-active {
  transform: translateX(50px);
}

.slide-enter,
.slide-leave-active {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

select.form-field:focus {
  outline: 5px solid rgba(59, 153, 252, 0.65);
}
/* Vertical slide tranistion for form errors */
.vertical-slide-enter-active,
.vertical-slide-leave-active {
  transition: all 0.3s ease-in-out;
}

.vertical-slide-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.vertical-slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

// Theme Styling
form {
  &.default-color-theme {
    .help {
      color: #ca0000 !important;
    }
  }

  &.light-color-theme {
    .help {
      color: #222 !important;
    }
  }

  &.dark-color-theme {
    .help {
      color: #f9f9f9 !important;
    }
  }
}

.form-warning {
  width: 20px;
}

.transition-step-enter-active,
.transition-step-leave-active {
  transition: all 0.5s ease;
}

.transition-step-enter-active {
  transform: translateX(50px);
}

.transition-step-leave-active {
  transform: translateX(50px);
}

.transition-step-enter,
.transition-step-leave-active {
  opacity: 0;
}

.transition-step-fade-enter-active,
.transition-step-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.transition-step-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.transition-step-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}
